/*_________________________header______________________*/
header{
    height: 70vh;

    background-image: url('../assets/mastehead.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;

    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-logo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.image-logo{
    width: 30px;
    height: 30px;
}

.text-logo{
    font-size: 25px;/*ICI*/
    font-style: italic;
}

.container-title-web-site{
    position: relative;
    bottom: 100px;
    width: 170px;
    margin: 0px 0px 0px 50px;/*ICI*/
}

.container-title-web-site h2{
    font-size: 1.5em;/*ICI*/
}

.container-title-web-site p{
    font-size: .8em;/*ICI*/
}
/*_________________________main______________________*/

main{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.super-container-item-1{}
.super-container-item-1 p{
    color: #9f9f9f;
    font-size: .9em; /*ICI*/
}
.item-2{
    row-gap: 0;
}
.container-item-2{

}
#design{
    background-color: #f4979f;
}
#built{
    background-color: #605f7f;
}
#our{
    background-image: url("../assets/box-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
#sign{
    background-image: url("../assets/box-bg-lg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
#perfect{
    background-color: #84c99d;
}

#design,#built,#our,#sign,#perfect{
    color: white;
}


.container-item-3{
    row-gap: 4em;
}
.container-item-3-items{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    color: #9f9f9f;
    font-size: .9em; /*ICI*/
}
.container-item-3-items h4{
    font-weight: normal;/*ICI*/
}