                        /*----------start HEADER----------*/
header{
    width: 100%;
    height: 70vh;

    background-image: url('../assets/mastehead.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}
/*__start logo__*/
.container-logo{
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    margin-left: 12px;
    margin-top: 12px;
}
.container-logo img{
    width: 33px;
    height: 33px;
}
.container-logo h1{
    margin-left: 5px;
    font-size: 25px;
    font-style: italic;
}
/*__end logo__*/
/*__start title__*/
.container-title{
    position: relative;
    top: 49%;
    color: white;
    width: 90%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
.container-title h2{
    font-size: 3em;
    width: 0;
}
.container-title p{
    width: 240px;
    font-size: .9em;
    font-weight: bold;
}
/*__end title__*/
                        /*----------end HEADER------------*/

                        /*----------start MAIN----------*/
/*__start start something new__*/
main{
    margin-top: 32px;
}

.container-start-something-new{
    width: 80%;
    margin: 32px auto;
    font-family: 'Roboto', sans-serif;
}
.container-start-something-new h2{
    font-weight: normal;
}
.container-start-something-new p{
    margin-top: 20px;
    color: #9f9f9f;
    font-size: .9em;
}
/*__end start something new__*/

/*__start cards__*/
.container-cards{
    width: 80%;
    margin: 0 auto;
    color: white;
    margin-top: 90px;
}
.card-item{
    width: 100%;
    height: 17vh;
}
.container-card-elements{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.card-item h3{
    padding: 23px 0 0 0;
}
.card-item p{
    font-size: 0.7em;
}
.card-item a{
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
#design{
    background-color: #f4979f;
}
#built{
    background-color: #605f7f;
}
#our{
    background-image: url("../assets/box-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
#sign{
    background-image: url("../assets/box-bg-lg.jpg");
        background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
#perfect{
    background-color: #84c99d;
}
/*__end cards__*/
/*__start a look at the details__*/
.container-look-details{
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;

}
.container-look-details h2{
    font-weight: normal;
    margin: 0px 0px 60px 0;
}
.container-details h4{
    margin: 30px 0 30px 0;
    margin-top: 20px;
    color: #9f9f9f;
    font-size: .7em;
}
.container-details p{
    margin-top: 20px;
    color: #9f9f9f;
    font-size: .8em;
}
/*__end a look at the details__*/
/*__start more powe__*/
.container-more-power{
    width: 100%;
    height: 70vh;
    background-image: url('../assets/full-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Roboto' ,sans-serif;
    margin-top: 90px;
}
.container-more{
    position: relative;
    top: 16%;
    color: white;
    width: 90%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
.container-more h2{
    font-size: 3em;
    width: 300px;
}
.container-more p{
    width: 95%;
    font-size: .9em;
    font-weight: bold;
}
.container-more a{
    text-decoration: none;
    color: white;
    width: 95%;
    font-size: .9em;
    font-weight: bold;
    position: relative;
    top: 20px;
}
/*__end more powe__*/

                        /*----------end MAIN----------*/